<h1 mat-dialog-title>Esta seguro que desea agendar esta clase?</h1>
<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim egestas odio lacinia
    acilisis. Etiam lobortis aliquam purus eget ornare. Maecenas rutrum dui at vestibulum posuere. Curabitur at
    est ac felis commodo lobortis vitae eget diam. Vestibulum maximus dictum tortor, vitae porta nunc eleifend luctus.
    Aliquam vitae egestas nunc. Etiam porttitor tortor vitae leo consectetur, et luctus diam condimentum.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>CONFIRMAR</button>
  <button mat-raised-button color="secondary" mat-dialog-close>CANCELAR</button>
</mat-dialog-actions>
